#nav{
    background-color:white;
    border: 2px solid rgb(230, 225, 225);


}
#btn{
    background-color:#239B56;
    color: white;
    margin-left: 45px;
    width: 40%;
}

#ddd{   
width: 50px;
}

#foot {
    background-color:white;
}